{% extends 'base.html' %}

{% block content %}

<h1>SHARKS IN THE WATER!!</h1>

{% for shark in sharks %}
    <div class='card small'>
        <a href="{% url 'detail' shark.id %}">
            <div class='card-image'>
                <img class='indexpic' src="{{shark.image}}" alt="Picture of {{shark.species}} Shark">
            </div>
            {% comment %} <div class='card-content'>
                <span class='card-title'>{{shark.species}}</span>
            </div> {% endcomment %}
        </a>
    </div>
{% endfor %}

{% endblock %}